


  


  
  .adminlogout {
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 250px;
    height: 62px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: 10px; 
  }
  
  .adminlogout:hover {
    background-color: black;
    color: white;
    border: none;
  }
  
  @media (max-width: 1024px) {
 
  
    .adminlogout {
      width: 200px;
      height: 55px;
      font-size: 18px;
      margin-left: auto; 
      margin-right: 10px;
    }
  }
  
  @media (max-width: 768px) {
  
  
    .adminlogout {
      width: 180px;
      height: 50px;
      font-size: 16px;
      margin-left: auto;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 480px) {
  
    .adminlogout {
      width: 160px;
      height: 45px;
      font-size: 14px;
      margin-left: auto;
      margin-right: 10px;
    }
  }
  