.talktous{
    height: 500px;
    background-color: white;
    font-family: neue machina;
}
.conbtn{
  background-color: white;
  border: black 2px solid;
  color: black;
  width: 250px;
  height: 82px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.conbtn:hover{
  background-color: black;
  border: none;
  color: white;
}




























.contact-container {
    display: flex;
    color: white;
    background-color: black;
    height: 100vh;
    padding: 20px;
    font-family: neue machina;
    margin-top: 100px;
  }
  
  .contact-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .contact-left h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .contact-details {
    font-size: 18px;
  }
  
  .contact-item {
    margin-bottom: 10px;
  }
  
  .contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-right iframe {
    border: 0;
  }
  
 

  

