.talktous {
  background-color: white;
  font-family: neue machina;
  padding: 20px;
}

.conbtn {
  background-color: white;
  border: black 2px solid;
  color: black;
  width: 100%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.conbtn:hover {
  background-color: black;
  border: none;
  color: white;
}

.contact-container {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: neue machina;
  margin-top: 50px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.contact-left h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-details {
  font-size: 18px;
}

.contact-item {
  margin-bottom: 10px;
}

.contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left, .contact-right {
    padding: 10px;
  }
}
