.dddpage{
    width: 100%;
    height: 1200px;
}
.dddh1{
    font-family: neue machina;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-top: 20px;
}
.dddimg{
    margin-left: 355px;
    margin-top: 50px;
}
.ddh11{
    margin-left: 355px;
    margin-top: 20px;
    font-family: neue machina;
    font-size: 30px;
    font-weight: bold;
}
.dddh11{
    margin-left: 355px;
    margin-top: 20px;
    font-family: neue machina;
    font-size: 25px;
    font-weight: bold;
}
.dddh12{
    margin-left: 355px;
    margin-top: 20px;
    font-family: neue machina;
    font-size: 25px;
}
.dddp{
    margin-left: 355px;
    margin-top: 20px;
    font-family: neue machina;
    font-size: 18px;
    width: 800px;
}
.dddbtn{
    width: 203px;
    height: 64px;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 355px;
}
.dddbtn:hover{
    background-color: black;
    color: white;
    border: none;
}
.dbdbtn{
    position: relative;
    width: 203px;
    height: 64px;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    left: 50px;

}
.dbdbtn:hover{
    background-color: red;
    color: white;
    border: 2px solid black;
}