.marquee {
  background-color: #1A1A1A;
  height: 122px;
  width: 100%;
}

.marquee1 {
  background-color: white;
  transform: rotate(-2deg);
  height: 106px;
  width: 100%;
  max-width: 1518px;
  position: relative;
  top: 10px;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  font-family: Neue machina;
}

.mark {
  font-size: 50px;
  background-color: white;
}

.footer {
  width: 100%;
  height: 550px;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.text {
  flex: 1; 
}

.h1 {
  color: white;
  font-size: 120px;
  font-family: Neue machina;
  margin-left: 70px;
}

.image {
  flex: 0 0 auto; 
}

.footimg {
  margin-right: 100px;
  border-radius: 10px;
  height: 455px;
  width: 450px;
}

.footb {
  width: 100%;
  height: 100px;
  background-color: #1A1A1A;
  border-top: 1px white solid;
}

.bcktop {
  color: white;
  background-color: #1A1A1A;
  border: 2px solid white;
  margin-left: auto;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  font-family: neue machina;
}

.h2 {
  display: inline-block;
  margin-right: 20px;
  color: white;
  margin-left: 50px;
  font-size: 25px;
  font-family: neue machina;
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .marquee1 {
    width: 95%;
    max-width: none;
  }

  .footimg {
    margin-right: 50px;
  }

  .h1 {
    font-size: 100px;
    margin-left: 50px;
  }
}

@media (max-width: 1024px) {
  .marquee1 {
    height: 90px;
    top: 5px;
  }

  .mark {
    font-size: 40px;
  }

  .h1 {
    font-size: 80px;
    margin-left: 30px;
  }

  .footimg {
    height: 350px;
    width: 350px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .marquee1 {
    height: 80px;
    top: 0;
  }

  .mark {
    font-size: 35px;
  }

  .h1 {
    font-size: 60px;
    margin-left: 20px;
  }

  .footimg {
    height: 250px;
    width: 250px;
    margin-right: 20px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .text {
    margin-bottom: 20px;
  }

  .bcktop {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .marquee1 {
    height: 70px;
    top: -5px;
  }

  .mark {
    font-size: 25px;
  }

  .h1 {
    font-size: 40px;
    margin-left: 10px;
  }

  .footimg {
    height: 200px;
    width: 200px;
    margin-right: 10px;
  }

  .bcktop {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
}
