.udform{
    width: 1250px;
    margin-left: 120px;
    font-family: neue machina;

}
.udf1{
    width: 476px;
    height: 60px;
    margin-left: 50px;
    color: black;
    font-weight: bold;
}
.udf2{
    width: 476px;
    height: 60px;
    margin-left: 50px;
    color: black;
    font-weight: bold;
}
.udff1{
    margin-left: 50px;
    color: black;
    font-weight: bold;
    font-size: 25px;

}
.mb-3{
    margin-top: 50px;
}
.userimg{
    margin-left: 50px;
    margin-top: 20px;
    border: 2px solid black;
}
.udb1{
    background-color: white;
    border: black 2px solid;
    color: black;
    width: 250px;
    height: 62px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
}
.udb1:hover{
    background-color: black;
    color: white;
    border: none;
}
.logout{
    background-color: white;
    border: black 2px solid;
    color: black;
    width: 250px;
    height: 62px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 550px;
}
.logout:hover{
    background-color: black;
    color: white;
    border: none;
}
.udelete{
    background-color: white;
    border: black 2px solid;
    color: black;
    width: 250px;
    height: 62px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 256px;
    left: 1150px;
}
.udelete:hover{
    background-color: red;
    color: white;
    border: 2px solid black;
}